// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree Include file for Freescale Layerscape-1046A family SoC.
 *
 * Copyright 2016 Freescale Semiconductor, Inc.
 *
 * Mingkai Hu <mingkai.hu@nxp.com>
 */

/dts-v1/;

#include "fsl-ls1046a.dtsi"

/ {
	model = "M290: LS1046A RDB Board";
	compatible = "fsl,ls1046a-rdb", "fsl,ls1046a";

	aliases {
		serial0 = &duart0;
		serial1 = &duart1;
		serial2 = &duart2;
		serial3 = &duart3;
		spi0 = &qspi;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&duart0 {
	status = "okay";
};

&duart1 {
	status = "okay";
};

&esdhc {
	mmc-hs200-1_8v;
	sd-uhs-sdr104;
	sd-uhs-sdr50;
	sd-uhs-sdr25;
	sd-uhs-sdr12;
};

&i2c0 {
	status = "okay";
        tpm_i2c_ptp: tpm_i2c_ptp@2e {
            compatible = "tcg,tpm_i2c_ptp";
            reg = <0x2e>;
 	    tpm-pirq = <&gpio1 0 0>; //GPIO_ACTIVE_HIGH is 0
        };

#if 0
	ina220@40 {
		compatible = "ti,ina220";
		reg = <0x40>;
		shunt-resistor = <1000>;
	};

	temp-sensor@4c {
		compatible = "adi,adt7461";
		reg = <0x4c>;
	};

	eeprom@56 {
		compatible = "atmel,24c512";
		reg = <0x52>;
	};

	eeprom@57 {
		compatible = "atmel,24c512";
		reg = <0x53>;
	};
#endif
};
&i2c1 {
	status = "okay";
};

&i2c3 {
	status = "okay";

	pca9546@71 {
		compatible = "nxp,pca9546";
		reg = <0x71>;
		#address-cells = <1>;
		#size-cells = <0>;
		i2c-mux-never-disable;
		i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x00>;
			rtc@68 {
				compatible = "dallas,ds1307";
				reg = <0x68>;
			};
		};

		i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x01>;
			nct7904@2d {
            	compatible = "nuvoton,nct7904";
            	reg = <0x2d>;
			};
		};
#if 0
		i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x02>;
			tmp75@4a {
            	compatible = "ti,tmp75";
            	reg = <0x4a>;
			};
			tmp75@4b {
            	compatible = "ti,tmp75";
            	reg = <0x4b>;
			};
		};
#endif
		i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x03>;
			poe@20 {
            	compatible = "poe,poe_i2c_microsemi";
            	reg = <0x20>;
			};
		};
    };
};

#if 0
&ifc {
	#address-cells = <2>;
	#size-cells = <1>;
	/* NAND Flashe and CPLD on board */
	ranges = <0x0 0x0 0x0 0x7e800000 0x00010000
		  0x2 0x0 0x0 0x7fb00000 0x00000100>;
	status = "okay";

	nand@0,0 {
		compatible = "fsl,ifc-nand";
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0x0 0x0 0x10000>;
	};

	cpld: board-control@2,0 {
		compatible = "fsl,ls1046ardb-cpld";
		reg = <0x2 0x0 0x0000100>;
	};
};
#endif

&qspi {
        bus-num = <0>;
        status = "okay";

        qflash0: mx25u3235f@0 {
                #address-cells = <1>;
                #size-cells = <1>;
                compatible = "spi-flash";
                spi-max-frequency = <55000000>;
                reg = <0>;


                partition@rcw_atf {
                         /*1984 KB: RCW @ 0x0 | BL2 Image @ 0x9000 | ATF @ 0x100000 (RCW+BL2+ATF) */
                        reg = <0x0 0x1f0000>;
                        label = "NOR (RO) RCW + BL2 + ATF";
                };

                partition@dummy {
                         /*64 KB: allows NOT redoing not pkgspec, not bother ODM */
                        reg = <0x1f0000 0x10000>;
                        label = "NOR (RO) spare dummy";
                };

                partition@env {
                         /*64KB: u-boot ENV */
                        reg = <0x200000 0x10000>;
                        label = "NOR (RW) U-Boot ENV";
                };

                partition@Reserved0 {
                         /*64KB: Reserved */
                        label = "NOR (RW) Reserved-0";
                        reg = <0x210000 0x10000>;
                };

                partition@fman {
                         /*256KB: FMan ucode */
                        label = "NOR (RW) FMAN UCODE";
                        reg = <0x220000 0x40000>;
                };

/*
                partition@Reserved1 {
                         // 5760 KB: Reserved
                        label = "NOR (RW) Reserved-1";
                        reg = <0x260000 0x5a0000>;
                };
*/

                partition@WG-CFG0 {
                         /*128KB: WG CFG0 */
                        reg = <0x260000 0x20000>;
                        label = "NOR (RW) WG CFG0";
                };

                partition@WG-CFG1 {
                         /*128KB: WG CFG1 */
                        reg = <0x280000 0x20000>;
                        label = "NOR (RW) WG CFG1";
                };

                partition@WG-MFG {
                         /*128KB: WG MFG */
                        reg = <0x2a0000 0x20000>;
                        label = "NOR (RW) WG MFG";
                };

                partition@WG-bootOpt {
                        /* (5 MB+256 KB): WG bootOpt Data & reserved (end of Flash) */
                        reg = <0x2c0000 0x540000>;
                        label = "NOR (RW) WG bootOpt Data & reserved";
                };
        };
};

#include "fsl-ls1046-post.dtsi"

&fman0 {

	ethernet@e0000 {
		status = "disabled";
	};
	ethernet@e2000 {
		status = "disabled";
	};
	ethernet@e4000 {
		status = "disabled";
	};
	ethernet@e6000 {
		status = "disabled";
	};
	ethernet@e8000 {
		status = "disabled";
	};
	ethernet@ea000 {
		status = "disabled";
	};
	ethernet@ec000 {
		status = "disabled";
	};
	ethernet@ee000 {
		status = "disabled";
	};

	ethernet@f0000 { /* 2.5GEC1 */
		fixed-link = <0 1 1000 0 0>;
		phy-connection-type = "sgmii-2500";
		phy-mode = "sgmii-2500";
	};

	ethernet@f2000 { /* 2.5GEC2 */
		fixed-link = <0 1 1000 0 0>;
		phy-connection-type = "sgmii-2500";
		phy-mode = "sgmii-2500";
	};

	mdio@fc000 {
		compatible = "fsl,fman-xmdio";
		reg = <0xfc000 0x1000>;
		sgmii_phy1: ethernet-phy@9 {
			reg = <0x9>;
		};
		sgmii_phy2: ethernet-phy@10 {
			reg = <0xa>;
		};
	};
};
