/*
 * P1010 RDB Device Tree Source stub (no addresses or top-level ranges)
 *
 * Copyright 2011 Freescale Semiconductor Inc.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *     * Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * Neither the name of Freescale Semiconductor nor the
 *       names of its contributors may be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 *
 * ALTERNATIVELY, this software may be distributed under the terms of the
 * GNU General Public License ("GPL") as published by the Free Software
 * Foundation, either version 2 of that License or (at your option) any
 * later version.
 *
 * THIS SOFTWARE IS PROVIDED BY Freescale Semiconductor ``AS IS'' AND ANY
 * EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL Freescale Semiconductor BE LIABLE FOR ANY
 * DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 * ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

&board_ifc {
	ifc_nand: nand@1,0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "fsl,ifc-nand";
		reg = <0x1 0x0 0x10000>;
	};

	cpld@3,0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "fsl,p1010rdb-cpld";
		reg = <0x3 0x0 0x0000020>;
		bank-width = <1>;
		device-width = <1>;
	};
};

&board_soc {
	i2c@3000 {
		rtc@30 {
			compatible = "S35390A,s35390a";
			reg = <0x30>;
		};
	};

	i2c@3100 {
		/* I2C-BUS 2 */
		tpm@29 {
			compatible = "tpm,tpm_i2c_atmel";
			reg = <0x29>;
		};
	};

	spi@7000 {
		flash@0 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "macronix,mx25l8006e", "jedec,spi-nor";
			reg = <0>;
			linux,modalias = "m25p80";
			modal = "mx25l8006e";
			spi-max-frequency = <50000000>;
			mode = <0>;

			/* **NEW** SPIFlash mapping for Dixie (4 partitions Only) */
			partition@0 {
				// 512KB
				reg = <0x0 0x0090000>;
				label = "NOR (RW) WG U-Boot Image";
			};
			partition@90000 {
				// 64K
				reg = <0x0090000 0x00010000>;
				label = "NOR (RO) WG U-Boot ENV"; 
			}; 
			partition@a0000 {
				// 128KB
				reg = <0x000a0000 0x00020000>;
				label = "NOR (RW) WG CFGXXX (unused)";
			};
			partition@b0000 {
				// 256KB
				reg = <0x000c0000 0x00040000>;
				label = "NOR (RW) WG CFG0 (DeviceID info + bootopt)";
			};
		};

	};

	usb@22000 {
		phy_type = "utmi";
		dr_mode = "host";
	};

	mdio@24000 {
		phy0: ethernet-phy@0 {
			reg = <0x1>;
		};

		phy1: ethernet-phy@1 {
			reg = <0x2>;
		};

		phy2: ethernet-phy@2 {
			reg = <0x3>;
		};

		tbi-phy@11 {
			device_type = "tbi-phy";
			reg = <0x11>;
		};
	};

	mdio@25000 {
		tbi0: tbi-phy@11 {
			reg = <0x11>;
			device_type = "tbi-phy";
		};
	};

	mdio@26000 {
		tbi1: tbi-phy@11 {
			reg = <0x11>;
			device_type = "tbi-phy";
		};
	};

	ptp_timer: ptimer@b0e00 {
		compatible = "fsl,gianfar-ptp-timer";
		reg = <0xb0e00 0xb0>;
		fsl,ts-to-buffer;
		fsl,tmr-prsc = <0x2>;
		fsl,clock-source-select = <1>;
	};

	ptp_clock@b0e00 {
		compatible = "fsl,etsec-ptp";
		reg = <0xb0e00 0xb0>;
		interrupts = <68 2 0 0 69 2 0 0>;
		fsl,tclk-period	= <10>;
		fsl,tmr-prsc	= <2>;
		fsl,tmr-add	= <0x80000016>;
		fsl,tmr-fiper1	= <0x3b9ac9f6>;
		fsl,tmr-fiper2	= <0x00018696>;
		fsl,max-adj	= <199999999>;
	};

	enet0: ethernet@b0000 {
		phy-handle = <&phy0>;
		phy-connection-type = "rgmii-id";
		ptimer-handle = <&ptp_timer>;
	};

	enet1: ethernet@b1000 {
		phy-handle = <&phy1>;
		tbi-handle = <&tbi0>;
		phy-connection-type = "sgmii";
		ptimer-handle = <&ptp_timer>;
	};

	enet2: ethernet@b2000 {
		phy-handle = <&phy2>;
		tbi-handle = <&tbi1>;
		phy-connection-type = "sgmii";
		ptimer-handle = <&ptp_timer>;
	};
};
